@import "variables";
@rounded_values: 50px 0px 50px 0px;

.rounded_corners {
  -webkit-border-radius: @rounded_values;
  -moz-border-radius: @rounded_values;
  border-radius: @rounded_values;
}

div.modal-container {
  width: 100%;
  height: 100%;
  div.overlay {
    background: @black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    -moz-opacity:0.6;
    -webkit-opacity:0.6
  }
}