@import "variables";

div.modal-container#large-photo {
  div.overlay {
    .element-opacity (0.9, 90);
  }

  .modal-body {
    button.close {
      position: absolute;
      right: -50px;
      top: -50px;
      .element-opacity (1.0, 100);
    }
  }
}
