div.modal-container#university-info {
  .modal {
    width: 870px;
    margin: -250px 0 0 -435px;
    height: 520px;
  }

  div.overlay {
    opacity: 0.9;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    filter: alpha(opacity=90);
    -moz-opacity:0.9;
    -webkit-opacity:0.9
  }

  .modal-body {
    max-height: 520px;
    width: 835px;
    div.left {
      float: left;
      width: 380px;
      height: 430px;
    }
    div.right {
      float: right;
      width: 435px;
      height: 436px;
    }
  }
}