@import "variables";

body.user_sessions_controller {
  h2 {
    text-align: center;
  }

  form {
    list-style: none;
    width: 225px;
    margin: 0 auto;
    li {
      label {
        width: 60px;
        text-align: center;
        margin-top: 7px;
        display: inline-block;
        float: left;
        margin-right: 15px;
      }
    }
    input[type=submit] {
    }
  }
}