@import "variables";

html, body {
  #flash.notice {
    display: none;
    height: 50px;
    width: 100%;
    background: #30DF30;
    font-weight: bold;
    z-index: 9999;
    position: absolute;
    text-align: center;
    padding-top: 15px;
    .rounded_corners (0px 0px 10px 10px);
  }
  h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
