@import "variables";

.white-gradient {
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.transition (@property: margin-left, @duration: 1s) {
  transition: @property @duration;
  -moz-transition: @property @duration; /* Firefox 4 */
  -webkit-transition: @property @duration; /* Safari and Chrome */
  -o-transition: @property @duration; /* Opera */
}

body {
  section.right_sidebar {
    float: left;
    height: 600px;
    width: 280px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: -5px;
    h3 {
      color: #999;
      float: right;
      font-size: 24.5px;
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    .grey {
      .element-opacity (0.4, 40);
      .transition (margin-left, 0.5s);
      margin-left: 15px;
    }
    .tooltip {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: none;
      .element-opacity (1.0, 100);
      background-color: #08C;
      color: #fff;
      margin-top: 25px;
      margin-left: -144px;
      padding: 5px;
      border: 1px solid black;
      font-weight: 600;
      min-width: 240px;
      .rounded_corners (15px 15px 15px 15px);
    }

    ul#categories {
      list-style: none;
      margin: 0 0 0 20px;
      padding: 0;
      float: right;

      li.category {
        width: 250px;
        height: 32px;
        padding: 5px 0px 5px 5px;
        .rounded_corners (15px 0px 0px 15px);
        border: 1px solid #999;
        cursor: pointer;
        margin-bottom: 12px;
        .white-gradient;

        img {
          width: 20px;
          height: 20px;
          float: left;
          .transition ();
        }
        a {
          display: inline-block;
          margin-right: 8px;
          float: right;
          height: 20px;
          text-align: right;
        }
        span.description {
          display: none;
        }
      }

      li.category:hover {
        border: 1px solid #000;
      }
    }
  }
  #example_form {
    clear: both;
    form {
      list-style: none;
      li {
        margin: 10px 0;
      }
      input[type=file] {
        margin-left: 50px;
      }
    }
  }
  #mobile_app {
    margin-left: 50px;
    width: 245px;
    padding-top: 15px;

    h5 {
      margin-left: -20px;
      margin-bottom: 0px;
    }

    span {
      font-size: 10px;
    }
  }
}
