@import "variables";

body.home_controller {
  &.index_action {
    section.content {
      div#map_canvas {
        float: left;
        height: 600px;
        margin: -10px auto;
        width: 700px;
        border: 10px solid #eee;
      }
    }
  }
}