@import "variables";

body.home_controller {
  &.index_action {
    section.content {
      div#map_canvas {
        float: left;
        height: 620px;
        margin: 0 auto;
        width: 720px;
        border: 10px solid #eee;
      }
    }
  }
}
