- if flash.present?
  - if flash[:alert].present?
    #flash.alert
      = image_tag "flash_alert.png", alert: "Wystąpił błąd!"
      = flash[:alert]
  - elsif flash[:notice].present?
    #flash.notice
      = image_tag "flash_notice.png", alert: "Wszystko OK!"
      = flash[:notice]
