%li.category
  = image_tag "categories/#{category.unique_id}.png", alt: category.title
  = link_to category.title, "#", 'data-category-id' => category.unique_id
  %span.description
    = category.description
