%footer
  %h3 SZS-Poznań
  %h5
    Strona internetowa:
    = link_to "Maciej Paliński", "mailto:maciekpalinski@gmail.com"
  %h5 Aplikacja mobilna: Wojciech Ostrowski
  %h5 Promotor: Dr inż. Beata Jankowska