%header
  #wrapper
    #logo
      = image_tag "logo_put.png", :alt => "Politechnika Poznańska", :width => 90
    #info
      %h1 System Zgłaszania Szkód - Poznań
      %h3 Praca dyplomowa inżynierska
    #admin_panel
      = image_tag "admin.png", :alt => "Panel administracyjny"
      = link_to "Panel administracyjny", admin_login_path